.aktivitetskategorier {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.kategori {
    isolation: isolate;
    padding: 1.125rem;
    scroll-margin: 1.125rem;
    background: var(--a-white);
}

.accordion {
    margin-top: 2.5rem;
}

@media screen and (min-width: 480px) {
    .kategori {
        padding: 2.5rem;
        scroll-margin: 2.5rem;
    }
}
