.aktivitetIkkeValgt {
    background-color: var(--a-white);
}

.aktivitetValgt {
    background-color: var(--a-orange-100) !important;
}

.aktivitetFullført {
    background-color: var(--a-green-100) !important;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2; /* Plasser sticky header framfor datepicker-input med "z-index: 1"*/
}

/* Om aktiviteten ikkje er siste i lista skal den ha litt luft under seg */
.accordionItem:not(:first-child) .accordionHeader {
    margin-top: 1.75rem;
}

.accordionHeader {
    color: var(--a-text-action);
    border-bottom: 1px solid var(--a-border-divider);
}

.accordionHeader > span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    /* tilsvarer heading size="medium" */
    font-size: var(--a-font-size-heading-medium);
    line-height: var(--a-font-line-height-heading-medium);
}
