.aktivitetIkkeValgt {
    background-color: var(--a-white);
}

.aktivitetValgt {
    background-color: var(--a-orange-100) !important;
}

.aktivitetFullført {
    background-color: var(--a-green-100) !important;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2; /* Plasser sticky header framfor datepicker-input med "z-index: 1"*/
}

.accordionHeader > span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    /* tilsvarer heading size="medium" */
    font-size: var(--a-font-size-heading-medium);
    line-height: var(--a-font-line-height-heading-medium);
}
