.aktivitetValgt {
    background-color: var(--a-orange-100) !important;
}

.aktivitetFullført {
    background-color: var(--a-green-100) !important;
}

.sticky {
    position: sticky;
    top: 0;
}

.accordionHeader > span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
