.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    word-wrap: break-word;
}

.mål {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.knappeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.knappeContainer button {
    align-self: end;
}

.knappeContainer > :nth-child(2) {
    margin-left: 1rem;
}

.detteVilViGjøreContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--a-gray-100);
    padding: 1rem;
}

.detteHarViGjortKnapp {
    margin-bottom: 1rem;
}

.knappMedSentrertLoader > span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
