.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
}

.title {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: calc(550 / 16 * 1rem)) {
  .title {
    font-size: 4rem;
  }
}
