.videoContainer {
    height: 210px;
    padding: 0 1rem 0 0;
    margin-bottom: 0.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-height: 220px;
}

.video {
    left: 0;
    right: 0;
    max-height: inherit;
    position: absolute;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.video div[data-gobrain-widgetid] {
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    position: relative;
    height: 100%;
}

.video div[data-gobrain-widgetid] > div:first-of-type {
    bottom: 0;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    height: 100% !important;
    width: 100% !important;
}

@media (min-width: 420px) {
    .videoContainer {
        min-height: 280px;
    }
}

@media (min-width: 520px) {
    .videoContainer {
        max-width: 540px;
        min-height: 320px;
    }
}
