.seksjon {
    background-color: var(--a-gray-100);
    border-radius: var(--a-border-radius-medium);
    padding: 1rem;
}

@media (min-width: calc(550 / 16 * 1rem)) {
    .seksjon {
        padding: 1.5rem;
    }
}

/* Gjør at seksjon får samme padding over og under
 * ved å fjerne margin på siste element i seksjonen */
.seksjon > :last-child {
    margin-bottom: 0;
}
