.statistikk {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--a-bg-subtle);
    border-radius: var(--a-border-radius-medium);
}

.tallContainer {
    display: flex;
    gap: 1rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.rotateOpp {
    transform: rotate(45deg);
}

.rotateNed {
    transform: rotate(135deg);
}

.rotateUendret {
    transform: rotate(90deg);
}
